/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
/* line 4, ../sass/prettify-sunburst.scss */
pre .str, code .str {
  color: #65B042;
}

/* string  - green */
/* line 5, ../sass/prettify-sunburst.scss */
pre .kwd, code .kwd {
  color: #E28964;
}

/* keyword - dark pink */
/* line 6, ../sass/prettify-sunburst.scss */
pre .com, code .com {
  color: #AEAEAE;
  font-style: italic;
}

/* comment - gray */
/* line 7, ../sass/prettify-sunburst.scss */
pre .typ, code .typ {
  color: #89bdff;
}

/* type - light blue */
/* line 8, ../sass/prettify-sunburst.scss */
pre .lit, code .lit {
  color: #3387CC;
}

/* literal - blue */
/* line 9, ../sass/prettify-sunburst.scss */
pre .pun, code .pun {
  color: #fff;
}

/* punctuation - white */
/* line 10, ../sass/prettify-sunburst.scss */
pre .pln, code .pln {
  color: #fff;
}

/* plaintext - white */
/* line 11, ../sass/prettify-sunburst.scss */
pre .tag, code .tag {
  color: #89bdff;
}

/* html/xml tag    - light blue */
/* line 12, ../sass/prettify-sunburst.scss */
pre .atn, code .atn {
  color: #bdb76b;
}

/* html/xml attribute name  - khaki */
/* line 13, ../sass/prettify-sunburst.scss */
pre .atv, code .atv {
  color: #65B042;
}

/* html/xml attribute value - green */
/* line 14, ../sass/prettify-sunburst.scss */
pre .dec, code .dec {
  color: #3387CC;
}

/* decimal - blue */
/* line 16, ../sass/prettify-sunburst.scss */
pre.prettyprint, code.prettyprint {
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

/* line 26, ../sass/prettify-sunburst.scss */
pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 35, ../sass/prettify-sunburst.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
/* line 36, ../sass/prettify-sunburst.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  /* line 41, ../sass/prettify-sunburst.scss */
  pre .str, code .str {
    color: #060;
  }

  /* line 42, ../sass/prettify-sunburst.scss */
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 43, ../sass/prettify-sunburst.scss */
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  /* line 44, ../sass/prettify-sunburst.scss */
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 45, ../sass/prettify-sunburst.scss */
  pre .lit, code .lit {
    color: #044;
  }

  /* line 46, ../sass/prettify-sunburst.scss */
  pre .pun, code .pun {
    color: #440;
  }

  /* line 47, ../sass/prettify-sunburst.scss */
  pre .pln, code .pln {
    color: #000;
  }

  /* line 48, ../sass/prettify-sunburst.scss */
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 49, ../sass/prettify-sunburst.scss */
  pre .atn, code .atn {
    color: #404;
  }

  /* line 50, ../sass/prettify-sunburst.scss */
  pre .atv, code .atv {
    color: #060;
  }
}
