/* desert scheme ported from vim to google prettify */
/* line 2, ../sass/prettify-desert.scss */
pre {
  display: block;
  background-color: #333333;
}

/* line 3, ../sass/prettify-desert.scss */
pre .nocode {
  background-color: none;
  color: black;
}

/* line 4, ../sass/prettify-desert.scss */
pre .str {
  color: #ffa0a0;
}

/* string  - pink */
/* line 5, ../sass/prettify-desert.scss */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

/* line 6, ../sass/prettify-desert.scss */
pre .com {
  color: skyblue;
}

/* comment - skyblue */
/* line 7, ../sass/prettify-desert.scss */
pre .typ {
  color: palegreen;
}

/* type    - lightgreen */
/* line 8, ../sass/prettify-desert.scss */
pre .lit {
  color: indianred;
}

/* literal - darkred */
/* line 9, ../sass/prettify-desert.scss */
pre .pun {
  color: white;
}

/* punctuation */
/* line 10, ../sass/prettify-desert.scss */
pre .pln {
  color: white;
}

/* plaintext */
/* line 11, ../sass/prettify-desert.scss */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

/* html/xml tag    - lightyellow */
/* line 12, ../sass/prettify-desert.scss */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

/* attribute name  - khaki */
/* line 13, ../sass/prettify-desert.scss */
pre .atv {
  color: #ffa0a0;
}

/* attribute value - pink */
/* line 14, ../sass/prettify-desert.scss */
pre .dec {
  color: palegreen;
}

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
/* line 17, ../sass/prettify-desert.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

/* IE indents via margin-left */
/* line 18, ../sass/prettify-desert.scss */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  /* line 23, ../sass/prettify-desert.scss */
  pre {
    background-color: none;
  }

  /* line 24, ../sass/prettify-desert.scss */
  pre .str, code .str {
    color: #006600;
  }

  /* line 25, ../sass/prettify-desert.scss */
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 26, ../sass/prettify-desert.scss */
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  /* line 27, ../sass/prettify-desert.scss */
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 28, ../sass/prettify-desert.scss */
  pre .lit, code .lit {
    color: #004444;
  }

  /* line 29, ../sass/prettify-desert.scss */
  pre .pun, code .pun {
    color: #444400;
  }

  /* line 30, ../sass/prettify-desert.scss */
  pre .pln, code .pln {
    color: black;
  }

  /* line 31, ../sass/prettify-desert.scss */
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 32, ../sass/prettify-desert.scss */
  pre .atn, code .atn {
    color: #440044;
  }

  /* line 33, ../sass/prettify-desert.scss */
  pre .atv, code .atv {
    color: #006600;
  }
}
