/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 618, iconsweets2/iconsweets2-small-dark/*.png */
.iconsweets2-small-dark-sprite, .iconsweets2-small-dark-abacus, .iconsweets2-small-dark-acces-denied-sign, .iconsweets2-small-dark-address-book, .iconsweets2-small-dark-admin-user-2, .iconsweets2-small-dark-admin-user, .iconsweets2-small-dark-airplane, .iconsweets2-small-dark-alarm-bell-2, .iconsweets2-small-dark-alarm-bell, .iconsweets2-small-dark-alarm-clock, .iconsweets2-small-dark-alert-2, .iconsweets2-small-dark-alert, .iconsweets2-small-dark-ipod-classic, .iconsweets2-small-dark-ipod-nano, .iconsweets2-small-dark-key-2, .iconsweets2-small-dark-key, .iconsweets2-small-dark-ladys-purse, .iconsweets2-small-dark-lamp, .iconsweets2-small-dark-laptop, .iconsweets2-small-dark-lemonade-stand, .iconsweets2-small-dark-light-bulb, .iconsweets2-small-dark-link-2, .iconsweets2-small-dark-link, .iconsweets2-small-dark-list-w-image, .iconsweets2-small-dark-list-w-images, .iconsweets2-small-dark-list, .iconsweets2-small-dark-loading-bar, .iconsweets2-small-dark-locked-2, .iconsweets2-small-dark-locked, .iconsweets2-small-dark-magic-mouse, .iconsweets2-small-dark-magnifying-glass, .iconsweets2-small-dark-mail, .iconsweets2-small-dark-male-contour, .iconsweets2-small-dark-male-symbol, .iconsweets2-small-dark-map, .iconsweets2-small-dark-marker, .iconsweets2-small-dark-medical-case, .iconsweets2-small-dark-megaphone, .iconsweets2-small-dark-microphone, .iconsweets2-small-dark-mighty-mouse, .iconsweets2-small-dark-mobile-phone, .iconsweets2-small-dark-money-2, .iconsweets2-small-dark-money, .iconsweets2-small-dark-monitor, .iconsweets2-small-dark-month-calendar, .iconsweets2-small-dark-mouse-wires, .iconsweets2-small-dark-note-book, .iconsweets2-small-dark-pacman-ghost, .iconsweets2-small-dark-pacman, .iconsweets2-small-dark-paint-brush, .iconsweets2-small-dark-pants, .iconsweets2-small-dark-paperclip, .iconsweets2-small-dark-pdf-document, .iconsweets2-small-dark-pdf-documents, .iconsweets2-small-dark-pencil, .iconsweets2-small-dark-phone-3, .iconsweets2-small-dark-phone-hook, .iconsweets2-small-dark-phone, .iconsweets2-small-dark-piggy-bank, .iconsweets2-small-dark-plane-suitcase, .iconsweets2-small-dark-post-card, .iconsweets2-small-dark-power, .iconsweets2-small-dark-powerpoint-document, .iconsweets2-small-dark-powerpoint-documents, .iconsweets2-small-dark-presentation, .iconsweets2-small-dark-preview, .iconsweets2-small-dark-price-tag, .iconsweets2-small-dark-price-tags, .iconsweets2-small-dark-printer, .iconsweets2-small-dark-radio, .iconsweets2-small-dark-record, .iconsweets2-small-dark-youtube, .iconsweets2-small-dark-zip-file, .iconsweets2-small-dark-zip-files {
  background: url('/images/iconsweets2/iconsweets2-small-dark-s29b99f971f.png') no-repeat;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-abacus {
  background-position: 0 -592px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-acces-denied-sign {
  background-position: 0 -464px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-address-book {
  background-position: 0 -352px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-admin-user-2 {
  background-position: 0 -240px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-admin-user {
  background-position: 0 -208px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-airplane {
  background-position: 0 -80px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-alarm-bell-2 {
  background-position: 0 -368px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-alarm-bell {
  background-position: 0 -800px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-alarm-clock {
  background-position: 0 -48px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-alert-2 {
  background-position: 0 -192px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-alert {
  background-position: 0 -672px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-ipod-classic {
  background-position: 0 -560px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-ipod-nano {
  background-position: 0 -1040px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-key-2 {
  background-position: 0 -1072px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-key {
  background-position: 0 -1088px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-ladys-purse {
  background-position: 0 -656px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-lamp {
  background-position: 0 -1008px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-laptop {
  background-position: 0 -1024px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-lemonade-stand {
  background-position: 0 -848px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-light-bulb {
  background-position: 0 -768px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-link-2 {
  background-position: 0 -288px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-link {
  background-position: 0 -144px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-list-w-image {
  background-position: 0 -1056px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-list-w-images {
  background-position: 0 -976px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-list {
  background-position: 0 -1152px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-loading-bar {
  background-position: 0 -992px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-locked-2 {
  background-position: 0 -304px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-locked {
  background-position: 0 -112px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-magic-mouse {
  background-position: 0 -832px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-magnifying-glass {
  background-position: 0 -128px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-mail {
  background-position: 0 -736px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-male-contour {
  background-position: 0 -1104px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-male-symbol {
  background-position: 0 -160px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-map {
  background-position: 0 -256px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-marker {
  background-position: 0 -272px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-medical-case {
  background-position: 0 -544px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-megaphone {
  background-position: 0 -512px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-microphone {
  background-position: 0 -880px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-mighty-mouse {
  background-position: 0 -704px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-mobile-phone {
  background-position: 0 -1120px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-money-2 {
  background-position: 0 -912px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-money {
  background-position: 0 -384px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-monitor {
  background-position: 0 -960px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-month-calendar {
  background-position: 0 -64px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-mouse-wires {
  background-position: 0 -944px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-note-book {
  background-position: 0 -528px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-pacman-ghost {
  background-position: 0 -400px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-pacman {
  background-position: 0 -176px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-paint-brush {
  background-position: 0 -624px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-pants {
  background-position: 0 -928px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-paperclip {
  background-position: 0 -96px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-pdf-document {
  background-position: 0 -752px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-pdf-documents {
  background-position: 0 -320px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-pencil {
  background-position: 0 -416px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-phone-3 {
  background-position: 0 -576px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-phone-hook {
  background-position: 0 -784px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-phone {
  background-position: 0 -640px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-piggy-bank {
  background-position: 0 -336px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-plane-suitcase {
  background-position: 0 -688px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-post-card {
  background-position: 0 -896px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-power {
  background-position: 0 -1136px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-powerpoint-document {
  background-position: 0 -864px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-powerpoint-documents {
  background-position: 0 -608px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-presentation {
  background-position: 0 -448px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-preview {
  background-position: 0 -480px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-price-tag {
  background-position: 0 -16px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-price-tags {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-printer {
  background-position: 0 -496px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-radio {
  background-position: 0 -720px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-record {
  background-position: 0 -32px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-youtube {
  background-position: 0 -224px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-zip-file {
  background-position: 0 -816px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.iconsweets2-small-dark-zip-files {
  background-position: 0 -432px;
}
