<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/><!-- TODO: Add description -->
        <meta name="author" content=""/><!-- TODO: Add author -->

        <!-- Favicon -->
        <link rel="shortcut icon" th:href="@{'/resources-' + ${applicationVersion} + '/favicon.ico'}"/><!-- TODO: Add favicon -->

        <!-- Stylesheets -->
        <div th:switch="${applicationEnvironment}" th:remove="tag">
            <div th:case="'prod'" th:remove="tag">
                <!-- Prod -->
                <!-- Application -->
                <link rel="stylesheet" th:href="@{'/resources-' + ${applicationVersion} + '/stylesheets/application.min.css'}" href="../../../resources/stylesheets/application.min.css"/>
            </div>
            <div th:case="*" th:remove="tag">
                <!-- Bootstrap -->
                <link rel="stylesheet" th:href="@{'/resources-' + ${applicationVersion} + '/stylesheets/bootstrap.css'}" href="../../../bootstrap.css"/>
                <!-- Font Awesome -->
                <link rel="stylesheet" th:href="@{'/resources-' + ${applicationVersion} + '/stylesheets/font-awesome.css'}" href="../../../font-awesome.css"/>
                <!-- DataTables -->
                <link rel="stylesheet" th:href="@{'/resources-' + ${applicationVersion} + '/stylesheets/datatables.css'}" href="../../../resources/stylesheets/datatables.css"/>
                <!-- DataTables Bootstrap -->
                <link rel="stylesheet" th:href="@{'/resources-' + ${applicationVersion} + '/stylesheets/datatables-bootstrap.css'}" href="../../../resources/stylesheets/datatables-bootstrap.css"/>
            </div>
        </div>

        <!-- Layout Stylesheet -->
        <style type="text/css">
            body {
                padding-top: 70px;
                background-color: #f5f5f5;
            }
        </style>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Navbar -->
        <div th:include="fragments/navbar :: navbar" th:remove="tag"/>

        <div class="container">
            <!-- Content -->
            <div layout:fragment="content" th:remove='tag'/>
        </div>

        <!-- Footer -->
        <footer th:include="fragments/footer :: footer" th:remove="tag"/>

        <!-- JavaScripts -->
        <div th:switch="${applicationEnvironment}" th:remove="tag">
            <div th:case="'prod'" th:remove="tag">
                <!-- Prod -->
                <!-- Application -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/application.min.js'}" src="../../../resources/javascripts/application.min.js"></script>
            </div>
            <div th:case="*" th:remove="tag">
                <!-- jQuery -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/jquery.js'}" src="../../../jquery.js"></script>
                <!-- jQuery Pjax -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/jquery-pjax.js'}" src="../../../jquery-pjax.js"></script>
                <!-- KnockoutJS -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/knockout.js'}" src="../../../knockout.js"></script>
                <!-- KnockoutJS Table  -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/knockout-table.js'}" src="../../../knockout-table.js"></script>
                <!-- UnderscoreJS -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/underscore.js'}" src="../../../underscore.js"></script>
                <!-- Underscore.stringJS -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/underscore.string.js'}" src="../../../underscore.string.js"></script>
                <!-- Bootstrap -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/bootstrap.js'}" src="../../../bootstrap.js"></script>
                <!-- DataTables -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/datatables.js'}" src="../../../resources/javascripts/datatables.js"></script>
                <!-- DataTables Bootstrap -->
                <script th:src="@{'/resources-' + ${applicationVersion} + '/javascripts/datatables-bootstrap.js'}" src="../../../resources/javascripts/datatables-bootstrap.js"></script>
            </div>
        </div>
    </body>
</html>