<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="login">

            <form class="form-login" action="j_spring_security_check" method="post" th:if="${showLogin}">
                <h2 class="form-login-heading">Please login</h2>
                <input name="j_username" type="text" class="form-control" placeholder="Email address" autofocus="autofocus"/>
                <input name="j_password" type="password" class="form-control" placeholder="Password"/>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"/> Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <div th:text="${message}" id="message"/>
            </form>

    </body>
</html>