<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>

        <div th:fragment="stylesheets">
            <div th:switch="${applicationEnvironment}">
                <div th:case="'local'">
                    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css"/>
                    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css"/>    
                </div>
                <div th:case="*">
                    <!--<link rel="stylesheet"  th:href="${resourceUrl}/application.css" href="relative/path/to/application.css"/>-->
                </div>
            </div>            
        </div>
        
    </body>
</html>