/* Area 51
----------------------------------*/





/* Text
----------------------------------*/

/* disabled */
span.data.static-text.disabled {
    color: #aaa;
}

/* information */
span.data.static-text.information {
    color: #33b;
}

/* ok */
span.data.static-text.ok {
    color: #3b3;
}

/* error */
span.data.static-text.error {
    color: #b33;
}



/* Table Backgound
----------------------------------*/

/* even-row */
span.data.static-text.even-row {
    background-color: #fff;
}

/* odd-row */
span.data.static-text.odd-row {
    background-color: #eee;
}

/* update-row */
span.data.static-text.update-row {
    background-color: #cce;
}

/* add-row */
span.data.static-text.add-row {
    background-color: #cec;
}

/* remove-row */
span.data.static-text.remove-row {
    background-color: #ecc;
}

/* updated-row */
span.data.static-text.updated-row {
    background-color: #88e;
}

/* added-row */
span.data.static-text.added-row {
    background-color: #8e8;
}

/* removed-row */
span.data.static-text.removed-row {
    background-color: #e88;
}
