/* Area 51
----------------------------------*/

/* labeled content */
div.content {
    margin: 0px; 
    border: 0px;
    padding: 10px 8px;
    
    float: left;
    clear: both;
    /* display: table-row; */ /* replaced by float above cause is this really necessery? keep for possible future errors. */
}




/* Labeled Content
----------------------------------*/

/* labeled content */
div.labeled-content {
    margin: 0px; 
    border: 0px;
    padding: 8px 0px;
    
    float: left;
    clear: both;
    /* display: table-row; */ /* replaced by float above cause is this really necessery? keep for possible future errors. */
}



/* label */
div.labeled-content div.label {
    padding: 2px 8px;   
    
    color: #636363;
    
    display: block;
    float: left;
}
div.labeled-content div.label label {
    width: 150px;
    margin: 2px 0px;
    padding: 2px 5px;
	
    display: block;
    float: left;
	
}



/* content */
div.labeled-content div.content {
/*    width: 150px; remove if not needed */
    
    padding: 2px 8px;
    
    display: block;
    position: relative;
    float: left;
    clear: none;
}
div.labeled-content div.content button {
    width: 200px;
    text-align: center;
}



/* Label Alignment
----------------------------------*/

/* align-left */
.align-left div.labeled-content div.label,
div.labeled-content.align-left div.label {
    text-align: left;
}



/* align-right */
.align-right div.labeled-content div.label,
div.labeled-content.align-right div.label {
    text-align: right;
}



/* align-new-line */
.align-new-line div.labeled-content div.label,
.align-new-line div.labeled-content div.content,    
div.labeled-content.align-new-line div.label,
div.labeled-content.align-new-line div.content {    
    clear: both;
}