/* Area 51
----------------------------------*/

/* data static-text x-large */
span.data.static-text.x-large {
    width: 779px;
}



/* Sizing
----------------------------------*/

/* data static-text */
.xxx-small {
	width: 25px !important;
}
.xx-small {
	width: 50px !important;
}
.x-small {
	width: 100px !important;
}
.small {
	width: 150px !important;
}
.medium {
	width: 200px !important;
}
.large {
	width: 250px !important;
}
.x-large {
	width: 300px !important;
}
.xx-large {
	width: 350px !important;
}
.xxx-large {
	width: 400px !important;
}