/* Area 51
----------------------------------*/





/* Table
----------------------------------*/

.table {
    display: block;
    float: left; 
}
.table h3.table-header {
    margin: 8px;
    margin-top: 29px;
    margin-bottom: -8px;
    border: 1px;
    border-bottom: 0px;
    padding: 4px 8px;
    
    color: #959595;
    background-color: transparent;
    
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
    
    font-size: small;
    font-weight: bold;
    text-align: left;
}
.table div.table-content {
    margin: 8px;     
    border: 1px;
    padding: 8px; 
    
    color: black;
    background-color: #e4e4e4;
    
    border-radius: 0px;
    border-style: solid;
    border-color: lightgrey;
    
    display: block;
    float: left; 
    
}



table th {
    text-align: left;
}
table td {
    text-align: left;
}
