<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <title>Access Denied!</title>
        <!-- Page Stylesheet -->
        <link rel="stylesheet" th:href="@{|/resources-${applicationVersion}/stylesheets/pages/accessdenied.css|}" href="../../../../resources/stylesheets/pages/accessdenied.css"/>
    </head>
    <body>

        <th:block layout:fragment="content">
            Access Denied! <a href="/login" th:href="@{/login}">Please login.</a>
        </th:block>

    </body>
</html>