<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <title th:text="${applicationName} + ' | Error!'">Application Name | Error!</title>
        <style type="text/css">
        </style>
    </head>
    <body>

        <section layout:fragment="content">
            <h1 th:text="${errorCode}">500</h1>
            <p th:text="${errorMessage}">java.lang.NullPointerException</p>
            <p th:text="${errorException}">Exception</p>
            <p th:text="${errorExceptionStackTrace}">Exception Stack Trace</p>
        </section>

    </body>
</html>