<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <title>Login</title>
        <!-- Page Stylesheet -->
        <link rel="stylesheet" th:href="@{|/resources-${applicationVersion}/stylesheets/pages/login.css|}" href="../../../../resources/stylesheets/pages/login.css"/>
    </head>
    <body>

        <th:block layout:fragment="content">
            <form class="form-login" th:action="@{/login}" action="/login" method="post">
                <h2 class="form-login-heading">Please login</h2>
                <input name="username" type="text" class="form-control" placeholder="Email address" autofocus="autofocus" value="root"/>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <label class="checkbox">
                    <input type="checkbox" name="remember-me"/> Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <div th:text="${message}" id="message" th:if="${message}"/>
            </form>
        </th:block>

    </body>
</html>