<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="|${applicationName} - Page Not Found!|">Page Not Found!</title>
        <style type="text/css">
            body {
                padding: 10px 50px;
                font-family: arial;
                background-color: #f5f5f5;
                margin: 0 auto;
            }
            .container {
                width: 800px;
            }
            h1 {
                font-size: 50px;
            }
            .error-status-code {
                color: red;
            }
        </style>    </head>
    <body>

        <div class="container">
            <h1><span class="error-message" th:text="${errorMessage}">Page Not Found</span> <span class="error-status-code" th:text="${errorStatusCode}">404</span></h1>
        </div>

    </body>
</html>