<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

    <!-- Checks that property files contain the same keys. -->
    <!--<module name="Translation"/>-->

    <module name="TreeWalker">

        <!-- Avoid unused imports -->
        <!--<module name="UnusedImports"/>-->

    </module>

</module>
